.btn {
	background-color: #0068b3;
	border: 1px solid #46c0fd;
	color: #fff;
	height: 35px;
	line-height: 30px;
	font-size: 16px;
	padding: 0px 20px;
	margin-left: 0px;
	margin-right: 15px;
	border-radius: 3px;
	cursor: pointer;

}

.gform select {
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

.gform input {
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

.gform label {
	width: 48%;
	display: inline-block;
}

.form-step1 {
	background: #f0f1f1;
	width: 90%;
	padding: 0px 20px;
}

.form-text {
	background: white;
	padding: 10px 15px;
}

.al-engine {
	padding: 10px;
	background: #f0f1f1;
	border: 1px solid #f0f1f1;
	font-weight: 800;
}

.Language-border {
	border-top: 1px solid gainsboro;
	padding-top: 15px;
}

.Additional-border {
	border-top: 1px solid gainsboro;
	padding-top: 15px;

}

.save-btn {
	padding: 10px;
	background: #2170b1;
	border: 1px solid #f0f1f1;
	font-weight: 800;
	color: white;
	cursor: pointer;
}

.gform input:focus, textarea:focus, select:focus {
	outline: none;
}

.gform .checkbox-input {
	width: 5%;
	height: 30px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding-left: 10px;
}


.gform.gform-checkbox .checkbox-input {
	width: 18px;
	height: 18px;
	border-radius: 0px;
}

.prompts_opt_sec textarea {
	width: 50%;
}

.prompts_opt_sec label {
	vertical-align: top;
}